<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>JsOB</title>
    <meta name="description"
          content="JavaScript Obfuscator is a free online tool that obfuscates your source code, preventing it from being stolen and used without permission.">
    <meta name="Keywords" content="obfuscator, javascript obfuscator, javascript obfuscator tool, obfuscation js, obfuscate tool, обфускатор, code obfuscator, obfuscator online, uglify, minify, js obfuscator, obfuscator io, obfuscator.io, obfuscate, protection">
    <link rel="stylesheet" href="/static/dist/stylesheets/main.css" media="screen" title="no title">
</head>
<body>

<div class="ui container grid">
    <div class="row">
        <div class="column">
            <div class="" id="root">
            </div>
        </div>
    </div>
</div>

<script src="/static/dist/bundle.js"></script>

</body>
</html>